@import url("styles/window.css");
@import url("styles/desktop.css");
@import url("styles/icon.css");
@import url("styles/variables.css");
@import url("styles/content.css");
@import url("styles/login-demo.css");
@import url("styles/screen.css");
@import url("styles/macintosh.css");


/* Стили для общей страницы */
body {
    background-color: #EDEEF0;
    font-family: "Apple System", sans-serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Анимация для движения линий сверху вниз по кругу */
@keyframes moveLines {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Кнопка закрытия окна */
button {
    background-color: #555;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

/* Анимация появления окна */
@keyframes windowOpen {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes iconBounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}