<div class="macintosh" aria-label="1984 Macintosh illustration">
    <div class="monitor">
        <div class="monitor-inner">
            <div class="screen-cutout">
                <div class="screen">
                    <div class="desktop" id="desktop">
                        {% for section in site.sections %}
                        <div class="icon" onclick="openWindow('{{ section.id }}')">
                            <img src="{{ section.image-type | prepend: "/assets/images/icon-" | append: ".png" }}" alt="File Icon">
                            <p>{{ section.title }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {%- include login-demo.html -%}
                </div>
            </div>
            <div class="logo">
                <img src="{{ '/assets/images/magento-icon.png'}}" alt="File Icon">
            </div>
            <div class="opening">
                <div class="opening-inner">
                </div>
                {%- include copyright.html -%}
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="inset"></div>
        <div class="cable-container">
            <div class="cable-hole"></div>
        </div>
    </div>
</div>