<div id="settings-menu" class="window">
    <div class="title-bar">
        <span>Settings</span>
        <button onclick="minimize('settings-menu')">_</button>
        <button onclick="closeWindow('settings-menu')">✖</button>
    </div>
    <div class="content">
        <div class="radio-group">
            <span>Add seconds to time</span>
            <label class="switch">
                <input type="checkbox" id="show-seconds">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="radio-group">
            <span>24-h format</span>
            <label class="switch">
                <input type="checkbox" id="toggle-24h">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>