.content {
    padding: 20px;
    font-size: 14px;
    color: #d0d0d0;
    text-align: justify;
    width: auto;
    height: auto;
}

.content.folder {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    display: grid;
    overflow: hidden;
}


.content .link {
    color: inherit;
    text-decoration: none;
}

.title-bar {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar > span {
    flex-grow: 1;
}

.title-bar > button {
    margin-right: 5px;
}