.icon {
    padding: 15px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    user-select: none;
    z-index: 20;
}

.icon:hover {
    transform: scale(1.1);
}

.icon p {
    margin: 0;
    font-size: 12px;
}

.icon img {
    width: 40px;
    height: 40px;
}