/* Для экранов шириной 576px до 767px (мобильные устройства в альбомной ориентации) */
@media (min-width: 576px) and (max-width: 767px) {
  .screen-container {
    width: 100%;
    height: 450px;
  }

  .monitor {
    height: 635px;
  }

  .macintosh {
    width: 80%;
    height: 750px;
  }

  .monitor-inner {
    width: 95%;
    height: 575px;
    top: 25px;
  }

  .screen-cutout {
    width: 92.5%;
    height: 400px;
    position: relative;
    top: 5px;
  }

  .icon {
    font-size: 12px;
    padding: 12px;
  }

  .title-bar {
    font-size: 16px;
  }

  .content {
    font-size: 14px;
  }

  .file {
    font-size: 12px;
  }

  .terminal {
    font-size: 12px;
  }

  .button {
    padding: 8px;
    font-size: 10px;
  }

  .window {
    width: 85%;
  }

  .mac-screen {
    width: 85%;
    height: 300px;
  }

  .screen {
    width: 85%;
    height: 350px;
    top: 15px;
  }

  .desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  .opening {
    width: auto;
    left: 35%;
    bottom: 90px;
  }

  .opening-inner {
    width: 90%;
  }

  .logo {
    bottom: 8%;
  }

  .foot {
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .screen-container {
    width: 90%;
    height: 500px;
  }

  .monitor {
    height: 730px;
  }

  .macintosh {
    width: 90%;
    height: 850px;
  }

  .monitor-inner {
    width: 90%;
    height: 650px;
    top: 35px;
  }

  .screen-cutout {
    width: 90%;
    height: 450px;
    position: relative;
    top: 10px;
  }

  .icon {
    font-size: 14px;
    padding: 15px;
  }

  .title-bar {
    font-size: 18px;
  }

  .content {
    font-size: 16px;
  }

  .file {
    font-size: 14px;
  }

  .terminal {
    font-size: 14px;
  }

  .button {
    padding: 10px;
    font-size: 12px;
  }

  .window {
    width: 80%;
  }

  .mac-screen {
    width: 80%;
    height: 350px;
  }

  .screen {
    width: 90%;
    height: 400px;
    top: 20px;
  }

  .desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .opening {
    width: auto;
    left: 50%;
    bottom: 100px;
    right: 40px;
  }

  .opening-inner {
    width: 90%;
  }

  .logo {
    bottom: 50px;
    left: 12%;
  }

  .foot {
    height: 140px;
  }
}

@media (max-width: 575px) {
  .screen-container {
    width: 100%;
    height: 350px;
  }

  .monitor {
    height: 500px;
  }

  .macintosh {
    width: 90%;
    height: 600px;
  }

  .monitor-inner {
    width: 90%;
    height: 435px;
    top: 30px;
  }

  .screen-cutout {
    width: 90%;
    height: 320px;
    position: relative;
    top: 5px;
  }

  .icon {
    font-size: 10px;
    padding: 10px;
  }

  .title-bar {
    font-size: 14px;
  }

  .content {
    font-size: 12px;
  }

  .file {
    font-size: 10px;
  }

  .terminal {
    font-size: 10px;
  }

  .button {
    padding: 6px;
    font-size: 8px;
  }

  .window {
    width: 90%;
  }

  .mac-screen {
    width: 90%;
    height: 250px;
  }

  .screen {
    width: 90%;
    height: 300px;
    top: 10px;
  }

  .desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .opening {
    width: auto;
    left: 120px;
    bottom: 12%;
    right: 30px;

    .copyright {
      padding-top: 10%;
    }
  }

  .opening-inner {
    width: 90%;
  }

  .logo {
    bottom: 8%;
  }

  .foot {
    height: 120px;
  }
}
