<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}
<body>
    <button id="darkModeToggle">🌙 Dark Mode</button>
    {%- include macintosh.html -%}
    {%- include about.html -%}
    {%- include experience.html -%}
    {%- include experience-details.html -%}
    {%- include projects.html -%}
    {%- include project-details.html -%}
    {%- include contact.html -%}
    {%- include skills.html -%}
    {%- include settings-window.html -%}
    <script src="{{ '/assets/js/compressed/login-demo.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/compressed/window.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/compressed/dark-mode.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/compressed/clock.js' | relative_url }}" defer></script>
</body>
</html>