/** Init global variables */

:root {
    --color-carbon: #333;
    --color-black: #222;
    --color-blue: #0073e6;
    --color-green: #006400;
    --color-green-black: #014701;
    --color-border-grey: #555;
    --color-background-back: #1a1a1a;
    --color-grey-light: #777;
    --color-icon-background-grey: #3b3b3b;
    --color-icon-white: #c0c0c0;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-color: #dee2e6;
    --bs-border-radius: 0.375rem;
    --color-guiliman-blue: #6495ed;
}