.window {
    background-color: var(--color-background-back);
    border: 4px solid var(--color-grey-light);
    border-radius: 8px;
    width: 500px;
    height: 40%;
    position: absolute;
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 100;
}

.window.active {
    display: block;
    animation: windowOpen 0.5s ease-out;
    z-index: 20;
}

.window.minimized {
    height: auto;
}